<div class="row">
  <div class="container col-md-6 review">
    <dl class="dl-horizontal">
      <dt class="rating">Rating</dt>
      <dd><%= review.rating %></dd>
      <dt>Review</dt>
      <dd><%= review.description %></dd>
    </dl>
    <% if review.user_id == current_user.id%>
      <%= link_to fa_icon('trash'),  @reviews, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>