<div class="row">
  <div class="container col-md-6 review">
    <dl class="dl-horizontal">
      <dt class="review-description">Rating</dt>
      <dd><%= review.rating %></dd>
      <dt class="review-description">Review</dt>
      <dd><%= review.description %></dd>
    </dl>
    <% if !current_user.nil? && review.user_id == current_user.id%>
      <%= link_to fa_icon('trash'),  [@product, @review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>