<div class="row">
  <div class="container col-md-6 review">
    <dl class="dl-horizontal">
      <dt class="rating">Rating</dt>
      <dd><%= review.rating %></dd>
      <dt>Review</dt>
      <dd><%= review.description %></dd>
    </dl>
  </div>
</div>



<!-- <div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="col-6 col-md-4">
      <%= review.rating %>
    </div>
    <div class="col-12 col-md-8">
      <%= review.description %>
    </div>
  </div>
</div> -->